{
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"@assets": "./src/assets",
					"@components": "./src/components",
					"@containers": "./src/containers",
					"@core": "./src/core",
					"@pages": "./src/pages",
					"@routes": "./src/routes"
				}
			}
		]
	]
}
